{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">투표</h1>
        <p class="subtitle">아래 버튼을 눌러 투표에 참여해 주세요.</p>
    </div>
</section>

<section class="section">
    <div class="container">
        <button class="button is-primary is-large is-fullwidth">참여하기</button>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    document.querySelector("button").addEventListener('click', () => {
        location.replace("{{ url }}");
    });
</script>
{% endblock %}