{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">투표 생성</h1>

    {% set error = request.args.get("error") %}
    {% if error != none %}
        <div class="notification is-danger is-light">
            {{ error }}
        </div>
    {% endif %}
    </div>
</section>

<section class="section">
    <div class="container">
        <form method="get" action="{{ url_for('vote.create') }}">
            <div class="field is-horizontal">
                <div class="field-label is-large">
                    <label class="label">투표 제목</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-large" type="text" name="title" value="{{title}}">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-large">
                    <label class="label">투표 참가 인원</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-large" type="tel" name="max" max="30" placeholder="">
                        </p>
                    </div>
                </div>
            </div>

            <br>

            <div class="columns">
                <div class="column">
                    <button class="button is-info is-large is-fullwidth" type="submit">다음</button>
                </div>
                <div class="column">
                    <a class="button is-danger is-light is-large is-fullwidth" href="{{ url_for('index.index') }}">취소</a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}