{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">내 투표</h1>
        <p class="subtitle">내가 만든 투표 목록을 확인 할 수 있습니다.</p>
        <div class="columns">
            <div class="column">
                <a class="button is-info is-large is-fullwidth" href="{{ url_for('create.ui') }}">새로운 투표 만들기</a>
            </div>
            <div class="column">
                <a class="button is-warning is-large is-fullwidth" href="{{ url_for('index.index') }}">메인 화면으로 이동</a>
            </div>
        </div>

    {% set error = request.args.get("error") %}
    {% if error != none %}
        <div class="notification is-danger is-light">
            {{ error }}
        </div>
    {% endif %}

        <div class="content is-large">
            <ol>
            {% for vote in votes %}
                <li><a href="{{ vote['url'] }}">{{ vote['title'] }}</a></li>
            {% endfor %}
            </ol>
        </div>
    </div>
</section>
{% endblock %}