{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">내 투표</h1>
        <p class="subtitle">참여 중인 투표 목록을 확인할 수 있습니다.</p>
    {% if error != none %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endif %}

        <div class="content is-large">
            <ol>
            {% for vote in votes %}
                <li><a href="{{ url_for('vote.do', vote_id=vote.vote_id) }}">{{ vote.title }}</a></li>
            {% endfor %}
            </ol>
        </div>
    </div>
</section>
{% endblock %}