{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">투표 참여</h1>
        <p class="subtitle">{{ title }}</p>
    {% if error is not none %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endif %}
        <div class="content">
            <ol>
                <li>선택지 순서는 랜덤입니다.</li>
                <li>선택을 변경 할 수 없습니다.</li>
            </ol>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <form method="post">
        {% for opt in opts %}
            <p style="margin-bottom:15px;">
                <button class="button is-dark is-large is-fullwidth" name="select" value="{{opt.id}}" type="submit">{{ opt.name }}</button>
            </p>
        {% endfor %}
            <p>
                <button class="button is-danger is-light is-large is-fullwidth" name="select" value="-1" type="submit">기권</button>
            </p>
        </form>
    </div>
</section>    
{% endblock %}
