{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">{{ title }}</h1>
    {% set error = request.args.get("error") %}
    {% if error != none %}
        <div class="notification is-danger is-light">
            {{ error }}
        </div>
    {% endif %}

        <div class="columns">
            <div class="column">
                <img class="image" src="{{ url_for('qrcode.join', vote_id=id, code=code) }}">
            </div>
            <div class="column">
                <div class="content is-large">
                    <ul>
                        <li>최대 참여인원 : {{max}}명</li>
                        <li>투표 참여인원 : <span id="total">-</span>명</li>
                        <li>투표 완료인원 : <span id="selected">-</span>명</li>
                        <li>투표 참여율 : <span id="per">-</span>%</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title is-2">투표 선택지</h2>
        <div class="content is-large">
            <ol id="display"></ol>
        </div>

        <button id="add_option" class="button is-link is-light is-large is-fullwidth">선택지 추가</button>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <button id="vote_start" class="button is-info is-large is-fullwidth">투표 시작</button>
            </div>
            <div class="column">
                <button id="vote_end" class="button is-dark is-large is-fullwidth">결과 보기</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
<script src="{{ url_for('static', filename='js/options.js') }}"></script>
<script>
    const vote_id = {{ id }};
    let opts = JSON.parse(`{{ opts|safe }}`);

    render_display();

    document.getElementById("add_option").addEventListener("click", () => {
        const name = window.prompt("새로운 선택지를 입력해주세요.");
        create_option(name);
    });

    document.getElementById("vote_start").addEventListener("click", () => start_vote());
    document.getElementById("vote_end").addEventListener("click", () => {
        const url = "{{ url_for('result.panel', vote_id=id) }}";
        if(confirm("투표를 마감하고 결과를 확인하시겠습니까?")){
            location.href = url;
        }
    })

    window.onload = () => {
        setInterval(update_status, 5000);
    }
</script>
{% endblock %}