{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">잠시만요</h1>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content is-large">
            <p>지금은 투표에 참여 할 수 없습니다.</p>
            <p>투표 관리자가 투표를 시작해야 참여 할 수 있습니다.</p>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/wait.js') }}"></script>
<script>
    const vote_id = {{ id }};
    window.onload = () => {
        update_status();
        setInterval(update_status, 3500);
    };
</script>
{% endblock %}
