{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">투표 생성</h1>
        <p class="subtitle">최대 50명이 참가 할 수 있습니다.</p>
    {% if error != none %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endif %}
    </div>
</section>

<section class="section">
    <div class="container">
        <form method="post" action="{{ url_for('vote.create') }}">
            <div class="field is-horizontal">
                <div class="field-label is-large">
                    <label class="label">투표 제목</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-large" type="text" name="title" value="{{title}}">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-large">
                    <label class="label">참여 인원</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-large" type="tel" name="max" max="30" placeholder="">
                        </p>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary is-large is-fullwidth" type="submit">다음</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}