{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">투표</h1>
        <p class="subtitle">QR코드로 참여하는 단순 투표 시스템</p>
        <div class="columns">
            <div class="column">
                <a class="button is-info is-large is-fullwidth" href="{{ url_for('create.ui') }}">새로운 투표 만들기</a>
            </div>
            <div class="column">
                <a class="button is-primary is-large is-fullwidth" href="{{ url_for('my.votes') }}">내 투표 보기</a>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title is-3">주의사항</h2>
        <div class="content is-medium">
            <ol>
                <li>투표는 생성후 3시간뒤 서버에서 삭제됩니다.</li>
                <li>*마감된* 투표는 1시간뒤 서버에서 삭제됩니다.</li>
                <li>투표를 생성한 관리자는 투표에 참여 할 수 없습니다.</li>
                <li>투표의 제목은 60자 이하로만 설정이 가능합니다.</li>
                <li>투표에는 최대 50명이 참여 할 수 있습니다.</li>
                <li>투표 제목과 참가 인원은 수정 할 수 없습니다.</li>
                <li>선택지는 최대 10개까지 등록 할 수 있습니다.</li>
            </ol>
        </div>
    </div>
</section>
{% endblock %}