<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>투표</title>
        <meta name="author" content="chick_0">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
        <meta name="keywords" content="투표, 단순투표, QR투표">
        <meta name="description" content="QR코드로 참여하는 단순 투표 시스템">
        <link rel="canonical" href="{{ request.url_root }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
        <meta name="theme-color" content="#FAFAFA">
    </head>
    <body>
        <nav class="navbar container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">투표</a>
                <a role="button" class="navbar-burger" data-target="navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div id="navbar" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/create">
                        투표 생성
                    </a>
                    <a class="navbar-item" href="/my/votes">
                        내 투표
                    </a>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}
        <section class="section"></section>

    {% if g.show_navbar is true %}
        <script src="{{ url_for('static', filename='js/burger.js') }}"></script>
    {% endif %}
        {% block script %}{% endblock %}
    </body>
</html>